# Gradle files
.gradle/
build/

# IntelliJ/Android Studio
*.iml
.idea/*
!.idea/vcs.xml
!.idea/compiler.xml
!.idea/kotlinc.xml
!.idea/runConfigurations/
!.idea/runConfigurations.xml
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/.name
*.iws
out/

# Android
local.properties
capture/
.externalNativeBuild
.cxx

# System files
.DS_Store
Thumbs.db
